{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<title>Temu.kan</title>
		{% include "headBase.html" %}
	</head>

	<body>
		{% include "navBase.html" %}
		<div id="contact">		
		<h2>Contact Us</h2>	

		{% load crispy_forms_tags %}

		<div class="contact">
			<div class="col-md-9 p-0 mx-auto">			
			  	<form action="/contact/" method="post" name="form" novalidate>
					{% csrf_token %}
				    <div class="form-group row col-md-11 mt-4 mx-auto">
				      <label for="inputPassword" class=" col-sm-2 my-auto label-input">Kategori</label>
				      <div class="col-sm-10">
				      	{{ form.kategori }}		
				  	  </div>
				  	  
				    </div>

				    <div class="form-group row col-md-11 mt-5 mx-auto">
				      <label for="inputPassword" class=" col-sm-2 my-auto label-input">Judul Pesan</label>
				      <div class="col-sm-10">
				      	{{ form.judul }}		
				      </div>
				    </div>
				  
				    <div class="form-group row col-md-11 mt-5 mx-auto">
				      <label for="inputMessage" class="control-label requiredField col-sm-2 my-2 label-input"> Isi Pesan</label>
				      <div class="col-sm-10">
				      	{{ form.isi }}		
				  	  </div>
				    </div>

				    <div class="form-group row col-md-11 mt-5 mx-auto">
				      <label for="inputPassword" class="control-label requiredField col-sm-2 my-auto label-input">Email</label>
				      <div class="col-sm-10">
				      	{{ form.email }}		
				      </div>
				    </div>
				 
				   <div class="form-row">
				    <div class="form-group col-md-4 mt-4 mx-auto text-center">
				      <input type="submit" class="btn btn-md btn-primary submits" value="Submit" name="submit">
				    </div>
				  </div>

				  <!-- <div class="alert alert-light">
    				<strong>Light!</strong> You should <a href="#" class="alert-link">read this message</a>.
  				</div> -->

				</form>
			</div>
		</div>
	</body>
</html>