{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Temu.kan</title>
	{% include "headBase.html" %}
</head>
<body class="text-center justify-content " style="background-color: #FFCF9;">
	{% include "navBase.html" %}
	<br>
	<br>
	<br>
	<h1 class="text-center header-big">Appointment</h1>
	<div class="justify-content-center d-flex">
		<form method="POST">
			{% csrf_token %}
			<table class="col-md-9 p-0 mx-auto">
				{{create_jadwal.as_table}}
			</table>
			<button type="Submit" class="btn btn-primary btn-curve">Submit</button>
		</form>
	</div>
	<h1 class="text-center header-big">Appointment Confirmation</h1>
	<table class="table table-bordered table-hover" style="background-color: #FFFCF9">
  <thead>
    <tr>
      <th scope="col" class="text">Nama</th>
      <th scope="col" class="text">Tanggal</th>
      <th scope="col" class="text">Waktu</th>
      <th scope="col" class="text">Keluhan</th>
      <th scope="col" class="text">Dokter</th>
      <th scope="col" class="text">Status</th>
    </tr>
  </thead>
  <tbody>
  	{% for jadwal in appointments %}
    <tr>
      <th scope="row" class="text">{{jadwal.nama}}</th>
      <td class="text">{{jadwal.tanggal}}</td>
      <td class="text">{{jadwal.waktu}}</td>
      <td class="text">{{jadwal.keluhan}}</td>
      <td class="text">{{jadwal.dokter}}</td>
      <td class="text">{{jadwal.status}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

</body>
</html>