<nav class="navbar fixed-top navbar-light navbar-bg">
  <a class="nav-link active text bold brand" href="/">
    Temu.kan
  </a>
<ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link active text" href="{% url 'jadwaldok:jadwal' %}">Apppointment</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text" href="{% url 'contact:contact' %}">Contact Us</a>
  </li>
</ul>
</nav>