* {
	background-color: #FFFCF9;
}
.header-big{
	font-family: "Open Sans";
	color: #E6AF2E;
}
br{
	color: #FFFCF9;
}

html{
	background-color: #FFFCF9;
}
.navbar-bg{
	background-color: #FFFCF9;
}
.text{
	color: #3D348B;
	font-family: "Open Sans";
}
.brand{
	color: #3D348B;
	font-style: bold;
	font-weight: 1000;
	font-size: 20px;
}