{% load static %}
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
 <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
 <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans">
 <link rel="stylesheet" type="text/css" href="{% static 'tugas/base.css' %}">
 <link rel="stylesheet" type="text/css" href="{% static 'dokcss.css' %}">
 <link rel="stylesheet" type="text/css" href="{% static 'homeReview/base.css' %}">
 <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">

 <meta name="viewport" content="width=device-width, initial-scale=1.0">