html{
	background-color: #FFFCF9;
}
.navbar-bg{
	background-color: #FFFCF9;
}
.text{
	color: #3D348B;
	font-family: "Open Sans";
}
.brand{
	color: #3D348B;
	font-style: bold;
	font-weight: 1000;
	font-size: 20px;
}

html{
	background-color: #FFFCF9;
}
b {
	font-weight: bold;
}
table{
	width: 80%;
}
th {
	text-align: left;
}
ul{
	padding-inline-start: 0px;
}
.body-bg {
	background-color: #FFFCF9;
}
.navbar-bg{
	background-color: #FFFCF9;
}
.text{
	color: #3D348B;
	font-family: "Open Sans", sans-serif;
}
.text-orange{
	color: #E6AF2E;
}
.brand{
	color: #3D348B !important;
	font-style: bold;
	font-weight: 1000;
	font-size: 20px;
}
.btn-curve{
	border-radius: 25px;
	box-shadow: 0 5px 15px -5px rgb(206, 203, 201);
}
.btn-outline-light {
    color: #E6AF2E;
    border-color: #E6AF2E;
}
.btn-outline-light:hover {
    color: #E6AF2E;
    background-color: transparent;
    border-color: #E6AF2E;
}
.btn-primary{
	color: #3D348B;
	background: #E6AF2E;
	border-color: #E6AF2E;
}
.btn-primary:hover {
    color: #E6AF2E;
    background-color: #3D348B;
    border-color: #3D348B;
}
.form {
	margin: auto;
}	
.form input, .form select, .form textarea {
	border: 5px solid #3D348B;
	outline: none;
	background: none;
	padding: 5px;
	width: 100%;
}
.form label{
   display: table;
   float: left;
   text-align: left;
   width: 80%;
   margin-top: 0.4em;
}
.p0{
	padding: 0% 0% 0% 0%;
}
.padding-main{
	padding-left: 5%;
	padding-right: 5%;
}
.padding-welcome{
	padding-top: 15%;
	padding-bottom: 10%;
}
.padding-review{
	padding-top: 10%;
	padding-bottom: 10%;
}
.margin-bottom-5{
	margin-bottom: 5%;
}
.margin-top-1{
	margin-top: 1%;
}
.margin-top-5{
	margin-top: 5%;
}
.row{
	margin-left: 0;
	margin-right: 0;
}

