{% load static %}
<!doctype html>
<head>{% include 'headBase.html' %}
    <title>Temu.kan</title>

</head>
<body class="body-bg padding-main text">
{% include 'navBase.html' %}
<div class="padding-welcome">
<div class="row text-center">
    <div class="col-12 p0">
        <h1 class="display-4">Coba <b>Temu.kan</b> solusi masalah<br>kesehatanmu disini</h1>
        <button type="button" onClick="window.location.href='{% url 'carisolusi:carisolusi' %}'" class="btn btn-outline-light btn-curve margin-top-1"><b>Cari Solusi</b></button>
        <h6 class="margin-top-5"><b>Sudah pernah menemukan solusi?</b></h6>
        <button type="button" onClick="document.getElementById('review').scrollIntoView();" class="btn btn-outline-light btn-curve margin-top-1"><b>Buat Review</b></button>
    </div>
</div>
</div>
<div class="padding-review" id="review">
<div class="row text-center">
    <div class="col-12 p0">
        <h1 class="text-orange margin-bottom-5"><b>Review</b></h1>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <div  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </div>
            {% endfor %}
        </ul>
    {% endif %}
        <form method="POST">
            {% csrf_token %}
            <table class="form">
            {{ form.as_table }}
            <tr><td colspan="2">
                    <button type="submit" class="btn btn-primary btn-curve margin-top-1"><b>Submit</b></button>
            </td></tr>
            </table> 
        </form>
    </div>
</div>
</div>
</body>