html{
	background-color: #FFFCF9;
}

.navbar-bg{
	background-color:  #FFFCF9;
}

.text{
	color: #3D348B;
	font-family: "Open Sans";
}

.brand{
	color: #3D348B;
	font-style: bold;
	font-weight: 1000;
	font-size: 20px;
}

#contact{
	height: 100vh;
	display: flex;
	display: -webkit-flex;
	flex-flow:  column;
	-webkit-flex-flow: column;
	background: #FFFCF9;
	margin-bottom: 0px;
}

#contact h2 {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: bolder;
	font-size: 64px;
	line-height: 87px;
	text-align: center;
	color: #E6AF2E;
	margin-bottom: 20px;
	padding-top: 80px;
}

#contact .label-input{
	font-size: 18px;
	font-family: "Open Sans";
    font-style: normal;
    font-weight: bold;
	color: #3D348B;
}

#contact input.btn{
	border-radius: 20px;
	font-family: "Open Sans";
	font-size: 16px;
	font-weight: bold;
	line-height: 30px;
	color: #3D348B;
	/*cursor: alias;*/
}


select[name=kategori]{
	padding: 10px !important;
	border: 5px solid #3D348B;
	width: 100%;
	height:50px;
}

input[name=judul]{
	padding: 10px !important;
	border: 5px solid #3D348B;
	width: 100%;
	height:50px;
}

textarea[name=isi]{
	padding: 10px !important;
	border: 5px solid #3D348B;
	width: 100%;
	height:150px;
}

input[name=email]{
	padding: 10px !important;
	border: 5px solid #3D348B;
	width: 100%;
	height:50px;
}

input[type=submit]{
	/*background: #223a77 !important;*/
	background: #E6AF2E;
	border:  0px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

input[type=submit]:hover{
	border-width: 1px;
	border-color: #E6AF2E;
	background:#E6AF2E !important;
}

.alert {
   width:40%;  
   background:#E6AF2E; 
}
